
.box
{
  border: 2px solid rgb(32, 32, 32);
  background: rgb(34, 33, 33);
  padding: 40px;
  gap:40px; 
   box-shadow: 0 4px 10px rgba(2, 2, 2, 0.15);
  border-radius: 20px;
  transition: all 0.3s ease;
}
.box:hover 
{ 
  background: linear-gradient(to right, #4e6ad3, #ff5db5);
  transform: translateY(-10px);
}

.box h3
{
     font-size: 36px;
    font-weight: 600;
    text-transform: capitalize;
     margin-bottom: 20px !important;
}

.box p{
     font-size: 20px;
    line-height: 1.5;
    color: rgb(228, 210, 210);
}

/* Demo.css */


.clamp-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.full-text {
  display: block;
}


.work-img 
{
  width: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  margin-bottom: 80px;   /* Desktop */
}

.service-content{
  font-size: 58px;
  font-weight: 600;
  text-transform: capitalize;;
}

/* Mobile View */
@media (max-width: 768px) {
  .box {
    margin-bottom: 40px;
  }
     .service-content {
        font-size: 32px;
        font-weight: 600;
        text-transform: capitalize;
        /* text-align: left !important; */
        padding: 0px 18px;
        margin-bottom: 30px !important;
    }

    .box h3 {
    font-size: 26px;
}
}
