.project-card {
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.project-card:hover {
   transform: scale(1.05); 
}


.project-title{
   position: absolute;
   width: 100%;
   bottom: 0px;
   background: linear-gradient(to right, #5e7dec94, #ff5db683);
   color: white;
   opacity: 0;
   transition: opacity 0.4s ease-in-out;
}
.project-card:hover .project-title{
    opacity: 1;
}






.project-title h3
{
     font-size: 28px;
     font-weight: 600;
     margin-bottom: 10px !important;
     text-transform: capitalize !important;
}


.project-title h4{
     font-size: 24px;
    line-height: 1.2;
    color: rgb(228, 210, 210);
}

.project-title p{
     font-size: 20px;
    line-height: 1.5;
    color: rgb(228, 210, 210);
}



button {
    margin: 0;
    line-height: inherit;
    background: #312d2d;
    /* color: #f30598; */
    background: linear-gradient(to right, #4e6ad3, #ff5db5) !important;
    color: white;
    border: none;
    font-size: 22px;
    padding: 6px 20px;
    border-radius: 10px;
}
button:hover 
{
    background: #312d2d  !important;
     color: #f30598;
}




