.hero-section
{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 80px 0;
    padding-top: 40px;
    
}

.hero-content
{
    width: 60%;
}
 .hero-content h1{
    font-size: 60px !important;
    font-weight: 800 !important;
    line-height: 1.3em;
} 

 .hero-content h2{
    font-size: 30px !important;
    font-weight: 600 !important;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-top: 20px;
} 

span.text-color
{
    color:#f80677;
    font-size: 60px;
    font-weight: 800 !important;
}
.hero-image
{
    width: 40%;
    display: flex;
   justify-content: space-around;
   
}
.hero-image img
{
  width: 80%;
  height: 60vh;
  object-fit: cover;
}

@media (max-width: 768px) {
  .hero-image img {
    width: 100% !important;
    height: 100% !important;
  }
  .hero-content h1 {
    font-size: 30px !important;
}
.text-color{
    font-size: 30px !important;
}
.hero-content h2{
    font-size: 18px !important;
}
}
