/* App.css or index.css */

 #root{
  background-color: black;
  color: white;
   padding:0px 60px !important; 
  overflow: hidden !important;
} 

@media (max-width: 768px) {
  #root{  
      padding: 0px 20px !important;
}
}
@media (max-width: 768px) {
  body {
    font-size: 16px !important;
  }
   h2 {
        font-size: 32px !important;
    }
   h3 {
        font-size: 26px !important;
    }
     h5 {
        font-size: 18px !important;
    }
    p {
    font-size: 18px !important;
    line-height: 1.6 !important;
  }
}


/* .container-fluid 
{
    background-color: black !important;
   margin: 60px 0px !important;
} */

